<div class="<%=classPrefix%>-section-title yahei">留下您的联系方式，服务商可以更快的与您沟通</div>
<input name="phone" type="hidden" value="<%=mobile%>" data-role="targetPhone"/>
<ul class="unstyled" style="<%if(!mobile){%>display:none<%}%>">
    <li>
        <label>
            <input id="exists_phone_input" type="radio" name="<%=radioPrefix%>_exists_phone"
                   checked value="<%=mobile%>"/>
            <span class="j-exists-phone-span"><%=mobile%></span>
        </label>
    </li>
    <li>
        <label>
            <input id="other_phone_input"  type="radio" name="<%=radioPrefix%>_exists_phone" value="0"/>使用其他号码
        </label>
    </li>
</ul>
<div class="<%=classPrefix%>-modifyphone" <%if(!mobile){%>style="display: block"<%}%> data-role="modifyphone-wrap">
<div class="<%=classPrefix%>-modifyphone-inputwrap">
    <input placeholder="请输入您的手机号" name="modifyphone" type="text" class="<%=classPrefix%>-modifyphone-input"/>
    <div class="modifyphone-error j-phone-error"><i class="iconfont icon-font">&#xe816;</i> <span class="j-error-tip">请输入正确的手机号</span></div>
</div>
<div>
    <input name="modifyphone-yzm" type="text" class="employ-dialog-modifyphone-input" placeholder="请输入您收到的验证码"/>
    <a class="<%=classPrefix%>-modifyphone-verify disabled" data-role="verify-sender" href="javascript:void(0)">短信获取验证码</a>
    <div class="modifyphone-error j-verify-error"><i class="iconfont icon-font">&#xe816;</i> <span class="j-error-tip">请输入正确的验证码</span></div>
    <div class="modifyphone-error j-agreement-error"><i></i>
    <span class="j-error-tip">若手机号未注册，将自动创建猪八戒账号，且表示您已同意
         <a href="//app.zbj.com/maijiaban/4.0.0/service-agreement.html" target="_blank">《猪八戒网服务协议》</a>
    </span>
    </div>
    <input type="hidden" name="vid" />
    <input type="hidden" name="uid" />
    <input type="hidden" name="zbj_csrf_token">
</div>
</div>